absl-py==1.0.0
altair==4.2.0
anyio==3.1.0
argon2-cffi==20.1.0
asgiref==3.3.4
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.7.1
bleach==3.3.0
blinker==1.4
bs4==0.0.1
builtwith==1.3.4
cachetools==5.0.0
certifi==2018.11.29
cffi==1.14.5
cfgv==3.3.1
chardet==3.0.4
click==8.0.1
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.4
dj-database-url==0.5.0
Django==3.2.4
django-ckeditor==6.2.0
django-js-asset==1.2.2
entrypoints==0.3
et-xmlfile==1.1.0
ffpyplayer==4.3.2
filelock==3.6.0
flatbuffers==2.0
futures==3.1.1
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
goslate==1.5.1
grpcio==1.44.0
gunicorn==20.1.0
h5py==3.6.0
identify==2.4.11
idna==2.8
importlib-metadata==4.10.0
imutils==0.5.4
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
is-wordpress==0.0.2
jedi==0.18.0
Jinja2==3.0.1
joblib==1.1.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.2
jupyterlab-widgets==1.0.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libclang==13.0.0
lxml==4.6.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
MouseInfo==0.1.3
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nltk==3.7
nodeenv==1.6.0
notebook==6.4.0
numpy==1.20.3
oauthlib==3.1.1
opencv-python==4.5.2.54
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.9
Panda3D==1.10.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
platformdirs==2.5.1
plotly==4.14.3
pre-commit==2.17.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.20.0
psycopg2==2.9.1
psycopg2-binary==2.9.3
py-thesaurus==1.0.5
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
pydeck==0.7.1
PyDictionary==2.0.1
PyGetWindow==0.0.9
Pygments==2.9.0
Pympler==1.0.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.27
python-dateutil==2.8.1
PythonTurtle==0.3.2
PyTweening==1.0.3
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pywhatkit==4.7
pywin32==300
pywinpty==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
regex==2022.3.2
requests==2.21.0
requests-oauthlib==1.3.1
retrying==1.3.3
rsa==4.8
scikit-learn==1.0.1
scipy==1.6.3
screeninfo==0.6.7
seaborn==0.11.1
semver==2.13.0
Send2Trash==1.5.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==1.7.3
sqlparse==0.4.1
streamlit==1.8.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-cpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
textblob==0.17.1
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.0.0
toml==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.63.0
traitlets==5.0.5
turtle==0.0.1
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.24.1
ursina==3.5.0
validators==0.18.2
virtualenv==20.13.2
watchdog==2.1.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.0.1
Werkzeug==2.1.1
whitenoise==6.0.0
widgetsnbextension==3.5.1
wikipedia==1.4.0
wrapt==1.14.0
xlrd==2.0.1
xlwt==1.3.0
zipp==3.8.0
